@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Medium.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('./Roboto-Bold.ttf');
    font-style: normal;
}

:root {
    --color-one: #53b5c0;
    --color-two: #0E5E6F; 
    --color-three: #FFEFD6; 
    --color-four: #F2DEBA;
    --color-six: rgba(14, 94, 111, 0.3);
    --color-task-button-active: #439ba5;
    --color-task-button-hover: #6acdd8;
    --color-project-button-active: #0a4d5c;
    --color-project-button-hover: #18788d;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

html, body {
    background-color: var(--color-three);
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: 1fr 6fr;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.header {
    display: grid;
    grid-template-columns: 1fr 5fr;
    justify-items: center;
    align-items: center;
    background-color: var(--color-two);
}

.sidebar {
    padding: 16px 64px;
    background-color: var(--color-one);
    height: 100%;
    min-width: 300px;
}

.project {
    max-width: 100%;
    font-size: 20px;
    margin-left: 30px;
    overflow-wrap: break-word;
    margin-bottom: 16px;
    cursor: pointer;
}

.project-list {
    display: flex;
    flex-direction: column;
}

.new-project-button {
    padding: 8px 16px;
    background-color: var(--color-two);
    align-self: flex-end;
}

.new-project-button:hover {
    background-color: var(--color-project-button-hover);
}

.new-project-button:active {
    background-color: var(--color-project-button-active);
    box-shadow: 5px 4px 5px 0px rgba(5,39,46,0.75) inset;
    -webkit-box-shadow: 5px 4px 5px 0px rgba(5,39,46,0.75) inset;
    -moz-box-shadow: 5px 4px 5px 0px rgba(5,39,46,0.75) inset;
}

.new-task-button {
    padding: 8px 64px;
    margin-right: 156px;
    background-color: var(--color-one);
    justify-self: end;
}

.new-task-button:hover {
    background-color: var(--color-task-button-hover);
    cursor: pointer;
}

.new-task-button:active {
    background-color: var(--color-task-button-active);
    box-shadow: 5px 4px 5px 0px rgba(3, 30, 36, 0.75) inset;
    -webkit-box-shadow: 5px 4px 5px 0px rgba(3, 30, 36, 0.75) inset;
    -moz-box-shadow: 5px 4px 5px 0px rgba(3, 30, 36, 0.75) inset;
}

.border {
    border-bottom: 1px solid var(--color-project-button-hover);
}

.project-heading {
    margin-bottom: 16px;
    cursor: default;
}

li.selected {
    background-color: var(--color-six);
    border-radius: 4px;
}

h1 {
    min-width: 300px;
    user-select: none;
    font-size: 48px;
    font-family: 'Roboto-Bold', 'Roboto', sans-serif;
    text-align: center;
}

h3 {
    font-size: 28px;
    margin: 32px 0;
    padding: 8px;
    cursor: pointer;
}


button {
    font-size: 24px;
    border: none; 
    border-radius: 8px;
    color: white;
}

li {
    list-style: none;
}

i {
    width: 25px;
    height: 25px;
    margin-right: 20px;
    text-align: center; 
}




/* TOOLTIP */

[data-tooltip] {
    position: relative;
    cursor: pointer;
}
[data-tooltip]:before,
[data-tooltip]:after {
    line-height: 1;
    font-size: .8em;
    pointer-events: none;
    position: absolute;
    box-sizing: border-box;
    display: none;
    opacity: 0;
}
[data-tooltip]:before {
    content: "";
    border: 5px solid transparent;
    z-index: 100;
}
[data-tooltip]:after {
    content: attr(data-tooltip);
    text-align: center;
    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 6px 8px;
    border-radius: 3px;
    background: #0E5E6F;
    color: #FFFFFF;
    z-index: 99;
}
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    display: block;
    opacity: 1;
}
[data-tooltip]:not([data-flow])::before,
[data-tooltip][data-flow="top"]::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: #0E5E6F;
}
[data-tooltip]:not([data-flow])::after,
[data-tooltip][data-flow="top"]::after {
    bottom: calc(100% + 5px);
}
[data-tooltip]:not([data-flow])::before, [tooltip]:not([data-flow])::after,
[data-tooltip][data-flow="top"]::before,
[data-tooltip][data-flow="top"]::after {
    left: 50%;
    -webkit-transform: translate(-50%, -4px);
            transform: translate(-50%, -4px);
}
[data-tooltip][data-flow="bottom"]::before {
    top: 100%;
    border-top-width: 0;
    border-bottom-color: #0E5E6F;
}
[data-tooltip][data-flow="bottom"]::after {
    top: calc(100% + 5px);
}
[data-tooltip][data-flow="bottom"]::before, [data-tooltip][data-flow="bottom"]::after {
    left: 50%;
    -webkit-transform: translate(-50%, 8px);
            transform: translate(-50%, 8px);
}
[data-tooltip][data-flow="left"]::before {
    top: 50%;
    border-right-width: 0;
    border-left-color: #0E5E6F;
    left: calc(0em - 5px);
    -webkit-transform: translate(-8px, -50%);
            transform: translate(-8px, -50%);
}
[data-tooltip][data-flow="left"]::after {
    top: 50%;
    right: calc(100% + 5px);
    -webkit-transform: translate(-8px, -50%);
            transform: translate(-8px, -50%);
}
[data-tooltip][data-flow="right"]::before {
    top: 50%;
    border-left-width: 0;
    border-right-color: #0E5E6F;
    right: calc(0em - 5px);
    -webkit-transform: translate(8px, -50%);
            transform: translate(8px, -50%);
}
[data-tooltip][data-flow="right"]::after {
    top: 50%;
    left: calc(100% + 5px);
    -webkit-transform: translate(8px, -50%);
            transform: translate(8px, -50%);
}
[data-tooltip=""]::after, [data-tooltip=""]::before {
    display: none !important;
}
  
/* END OF TOOLTIP */